<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Page title -->
    <!-- build:remove -->
      <title>[Dev] Project name</title>
    <!-- /build -->
    <!-- build:template
      <title><%= title %></title>
    /build -->

    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">    
    <meta name="description" content="">

    <!-- Font import(s) -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic">

    <!-- Stylesheet(s) -->
    <!-- build:css ./dist/css/styles.min.css -->
    <link rel="stylesheet" href="./css/styles.css">
    <!-- /build -->

    <!-- Favicons -->

  </head>
  <body>

    <h1>
      <!-- build:remove -->
      [Dev] Project name
      <!-- /build -->
      <!-- build:template
        <%= title %>
      /build -->
    </h1>

    <!-- More content goes here -->

    <!-- Script(s) -->
    <!-- build:remove -->
      <script src="./js/example.js"></script>
    <!-- /build -->
    <!-- build:template
      <script src="./dist/js/<%= filename %>.min.js"></script>
    /build -->

  </body>
</html>
